body{
    margin: 0;
}
.main{
    width: 1024px;
    margin: 0 auto;
    position: relative;
}
#navigator{
    text-align: center;
}
.navBtn{
    width: 33%;
    height: 50px;
}
td{
    text-align: center;
}
#existMap{
    width: 1024px;
    height: 800px;
    margin: 20px auto;
}
#cumulativeMap{
    width: 1024px;
    height: 800px;
    margin: 20px auto;
    display: none;
}
#incInfChart{
    width: 1024px;
    height: 500px;
}
#exiCumInfChart{
    width: 1024px;
    height: 500px;
    display: none;
}
#deadCureChart{
    width: 1024px;
    height: 500px;
    display: none;
}
.chartBtn{
    width: 33%;
    height: 40px;
    margin-top: 0;
}
.message{
    width: 450px;
    height: 600px;
    margin:20px auto;
    background-color: gray;
}
#exiInfChart{
    width: 1024px;
    height: 500px;
}
#incInfDeadCureChart{
    width: 1024px;
    height: 500px;
    display: none;
}
#cumInfDeadCureChart{
    width: 1024px;
    height: 500px;
    display: none;
}
#dropdown button{
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
}
#dropdown2 button{
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
}
#icon{
    cursor: pointer;
}
#footer{
    margin-top: 30px;
}